.reportPanel {
  display: grid;
  gap: 1.5rem;

  .reportPanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .reportPanelItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;

    @media (max-width: 68rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 48rem) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
